# Ignorar arquivos de build do python
python/*
!python/import_from_SAP.ipynb
# Ignorar arquivos do VSCode 
.vscode/
# Ignorar pasta de backup das planilhas
Versões\ das\ planilhas/
# Ignorar arquivos de release
assets/
# Ignorar arquivos auxiliares
outros/
# Ignorar arquivos temporários do Excel
~$*